# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/

# Local development settings
.env
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Large data files
*.csv
*.xlsx
*.h5
*.pkl
*.pt
*.pth
*.bin

# Exceptions
!requirements.txt
